
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 30px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}
.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 16px;
    text-align: center;
    transition: transform 0.3s;
}
.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0,0,0,0.15);
}
.card img {
    width: 100%;
    height: auto; 
    border-radius: 6px;
    margin-bottom: 10px;
}
.card h3 {
    font-size: 18px;
    margin: 5px 0;
}
.card p {
    font-size: 14px;
    color: #555;
    margin: 5px 0;
}
.price {
    font-weight: bold;
    color: #007bff;
    font-size: 18px;
    margin-top: 10px;
}
.card a {
    text-decoration: none;
    color: inherit; 
}


@media (max-width: 1024px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 600px) {
    .grid 
        grid-template-columns: 1fr;
    }
}